#Sat Apr 17 08:45:15 CEST 2010
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=org.osgiusers.germany.example.kasse.feature,org.osgiusers.germany.example.kasse.tp_feature,org.osgiusers.germany.example.kasse.test_feature
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=true
